extends layout

block content
    h1= title

    div#main
        div#content

    form#form
        input(id="input" type="text" placeholder="Enter a username")
        input(id="submit" type="submit")
