extends ../layout

block content
    h1=title

    - if(typeof errors !== 'undefined')
        p Validation failed due to folowing errors:
        ul
            each error in errors
                li #{error.message}

    form#form(method="POST" action="/users/new")
        p
            input(id="username" name="username" type="text" placeholder="username")

        p
            input(id="firstname" name="firstname" type="text" placeholder="firstname")

        p
            input(id="lastname" name="lastname" type="text" placeholder="lastname")

        p
            input(id="email" name="email" type="text" placeholder="email")

        p
            input(id="profession" name="profession" type="text" placeholder="profession")

        p
            input(id="gender" name="gender" type="text" placeholder="gender")

        p
            input(id="submit" type="submit" value="Submit")

    a(href="/users") Back